/* #region Common */

:root {
  --darker: #000000;
  --dark: #080b12;
  --medium: #141922;
  --light-dark: #282828;
  --light: #a3a3a3;
  --lighter: #ffffff;
  --accent: #adff2f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Circular Std', sans-serif;
}

img,
svg {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* #endregion Common */

/* #region Utilities */

.flex {
  display: flex;
}

.direction_column {
  flex-direction: column;
}

.align_items_center {
  align-items: center;
}

.justify_content_between {
  justify-content: space-between;
}

/* #endregion Utilities */

/* #region Debug */

.debug * {
  outline: 1px solid limegreen;
}

/* #endregion Debug */

/* #region Top */

#top {
  height: calc(100vh - 90px);
}

aside {
  flex-basis: 50px;
  padding: 5px 0;
  background-color: var(--darker);
}

aside a {
  color: var(--light);
}

aside svg path {
  fill: var(--light);
}

#aside_top {
  flex-grow: 1;
}

.logo_wrapper,
#sections li,
#aside_bottom {
  padding-left: 10px;
  padding-right: 10px;
}

.complete_logo {
  display: none;
}

#sections {
  margin-top: 15px;
}

.aside_section_name,
#aside_bottom span,
#aside_bottom hr {
  display: none;
}

#sections li:not(li:last-child) {
  margin-bottom: 10px;
}

#aside_bottom a:last-of-type {
  margin-top: 10px;
}

#aside_bottom a:last-of-type svg {
  aspect-ratio: 1 / 1;
  background-color: var(--light);
  border-radius: 50%;
}

#aside_bottom a:last-of-type svg path {
  fill: var(--lighter);
}

#app_main {
  flex-grow: 1;
}

nav {
  flex-basis: 90px;
  background-color: var(--dark);
}

#content {
  flex-grow: 1;
  background-color: var(--medium);
}

/* #endregion Top */


/* #region Footer */

#app_footer {
  height: 90px;
  background-color: var(--light-dark);
}

/* #endregion Footer */

/* #region Responsive */

@media screen and (min-width: 480px) {

  aside {
    flex-basis: 230px;
  }

  .logo_wrapper {
    display: flex;
    align-items: center;
    width: 70%;
    height: 80px;
  }

  .only_logo {
    display: none;
  }

  .complete_logo {
    display: inline-block;
  }

  #sections svg,
  #aside_bottom svg {
    width: 20px;
    margin-right: 10px;
  }

  .aside_section_name,
  #aside_bottom span,
  #aside_bottom hr {
    display: block;
  }

  #aside_bottom hr {
    margin-top: 10px;
    border-width: 1px;
    border: none;
    border-bottom: 1px solid var(--light);
  }

}

@media screen and (min-width: 768px) {
  
}

@media screen and (min-width: 1200px) {
  
}

/* #endregion Responsive */
