/* #region Common */

:root {
  --darker: #000000;
  --dark: #080b12;
  --medium: #141922;
  --light-dark: #282828;
  --light: #a3a3a3;
  --lighter: #ffffff;
  --accent: #adff2f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Circular Std', sans-serif;
}

img,
svg {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.col_infos h4 {
  color: var(--lighter);
  margin-bottom: 5px;
}

.col_infos span {
  color: var(--light);
}

#content section [class^="col_"]:hover {
  cursor: pointer;
}

#content section [class^="col_"]:hover > .img_wrapper::before {
  font: var(--fa-font-regular);
  font-size: 3.5rem;
  content: '\f144';
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #000000bb;
  color: var(--lighter);
}

#popular_artists [class^="col_"]:hover .img_wrapper::before {
  border-radius: 50%;
}

/* #region EXPERIMENTAL TOGGLE SECTION */

.expand_toggle_container {
  align-items: baseline;
}

.expand_toggle_container label {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: var(--light);
  cursor: pointer;
}

.expand_toggle_container input[type="checkbox"] {
  display: none;
}

/* ADDED THE "HAS" SO, IF NOT SUPPORTED, THE LABEL WILL NEVER BE SHOWN SINCE THE RULE WILL NOT BE APPLIED */
.expand_toggle_container:has(input) label::after {
  content: 'EXPAND';
}

/* "HAS" WORKING IN MOST BROWSERS BUT STILL NATIVELY UNSUPPORTED IN FIREFOX */
.expand_toggle_container:has(input:checked) label::after {
  content: 'COLLAPSE';
}

.expand_toggle_container:has(input:checked) + .flex {
  flex-wrap: wrap;
}

/* #endregion EXPERIMENTAL TOGGLE SECTION */

/* #endregion Common */

/* #region Utilities */

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.direction_column {
  flex-direction: column;
}

.align_items_center {
  align-items: center;
}

.justify_content_between {
  justify-content: space-between;
}

.justify_content_center {
  justify-content: center;
}

.btn {
  display: inline-block;
}

.margin_compensation {
  margin-left: -10px;
  margin-right: -10px;
}

.margin_compensation > [class^="col_"] {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.col_1 {
  width: calc(100% / 12);
}

.col_2 {
  width: calc(100% / 12 * 2);
}

.col_3 {
  width: 25%;
}

.col_4 {
  width: calc(100% / 12 * 4);
}

.col_5 {
  width: calc(100% / 12 * 5);
}

.col_6 {
  width: 50%;
}

.col_7 {
  width: calc(100% / 12 * 7);
}

.col_8 {
  width: calc(100% / 12 * 8);
}

.col_9 {
  width: 75%;
}

.col_10 {
  width: calc(100% / 12 * 10);
}

.col_11 {
  width: calc(100% / 12 * 11);
}

.col_12 {
  width: 100%;
}

.col_infos {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.section_title {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--lighter);
}

.section_subtitle {
  margin-bottom: 20px;
  color: var(--light);
}

.img_wrapper {
  position: relative;
}

.rounded {
  border-radius: 50%;
}

/* #endregion Utilities */

/* #region Debug */

.debug * {
  outline: 1px solid limegreen;
}

/* #endregion Debug */

/* #region Top */

#top {
  height: calc(100vh - 90px);
  /* TO ENSURE 100VH KEEPS IN MIND UI TOOLBARS. IF NOT SUPPORTED IT IS SIMPLY IGNORED */
  height: calc(100svh - 90px);
}

aside {
  flex-shrink: 0;
  flex-basis: 50px;
  padding: 5px 0;
  background-color: var(--darker);
  overflow-y: auto;
}

aside a {
  color: var(--light);
}

aside svg path {
  fill: var(--light);
}

#aside_top {
  flex-grow: 1;
}

.logo_wrapper,
#sections li,
#aside_bottom,
#playlists h3,
#new_playlist,
#playlists_list > * {
  padding-left: 10px;
  padding-right: 10px;
}

.complete_logo,
.aside_section_name,
#playlists,
#aside_bottom span,
#aside_bottom hr {
  display: none;
}

#sections {
  margin-top: 15px;
}

#sections li:not(li:last-child) {
  margin-bottom: 10px;
}

#aside_bottom a:last-of-type {
  margin-top: 10px;
}

#aside_bottom a:last-of-type svg {
  aspect-ratio: 1 / 1;
  background-color: var(--light);
}

#aside_bottom a:last-of-type svg path {
  fill: var(--lighter);
}

#app_main {
  width: calc(100% - 50px);
}

#main_top {
  justify-content: flex-end;
  flex-shrink: 0;
  flex-basis: 90px;
  padding-right: 10px;
  background-color: var(--dark);
}

#main_top .btn {
  border-radius: 20px;
  padding: 10px 35px;
  border: 1px solid var(--light);
  color: var(--light);
}

#content {
  flex-grow: 1;
  background-color: var(--medium);
  overflow-y: auto;
}

#content > * {
  padding: 0 10px;
}

#content > nav li {
  margin: 15px 10px;
}

#content > nav li a {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--light);
}

/* IN THE EFFECTS SECTION YOU CAN SELECT WITH LIST-ITEM WILL HAVE THE GREEN BAR BELOW IT */
#content > nav li::after {
  content: '';
  display: none;
  margin: auto;
  width: 40px;
  height: 3px;
  background-color: var(--accent);
}

/* RULE ADDED TO BE SURE THAT IMAGES WILL ALWAYS BE SHOWN AS SQUARES */
#recent .flex .img_wrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

#recent .flex,
#created_for_you .flex,
#popular_artists .flex {
  overflow-x: auto;
}

#recent .flex > *,
#created_for_you .flex > *,
#popular_artists .flex > * {
  flex-shrink: 0;
}

/* #endregion Top */

/* #region Footer */

#app_footer {
  height: 90px;
  background-color: var(--light-dark);
  position: relative;
  z-index: 2;
}

#app_footer > * {
  flex-basis: calc(100% / 3);
}

#footer_left {
  padding-left: 10px;
}

#footer_center {
  padding-left: 3px;
  padding-right: 3px;
  color: var(--lighter);
}

#footer_right {
  justify-content: flex-end;
  padding-right: 10px;
  color: var(--lighter);
}

#current_song_cover {
  flex-shrink: 0;
  width: 30px;
  aspect-ratio: 1 / 1;
  transition: width 0.6s;
}

#current_song_infos {
  margin: 0 5px;
}

#current_song_infos a {
  display: block;
}

#current_song_title {
  font-weight: 700;
  color: var(--lighter);
}

#current_song_artist {
  font-size: 0.875rem;
  color: var(--light);
  transition: color 0.4s;
}

#like_section {
  color: var(--light);
}

#playing_commands {
  margin-bottom: 15px;
}

#playing_commands > i:nth-child(even),
#footer_right > *:nth-child(even) {
  margin-left: 5px;
  margin-right: 5px;
}

#playing_time {
  width: 100%;
}

#playing_time > span {
  font-size: 0.875rem;
}

#footer_right > * {
  margin-top: 5px;
  margin-bottom: 5px;
}

#total_time,
#total_volume {
  flex-grow: 1;
  height: 5px;
  background-color: var(--light);
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

#footer_right #total_volume {
  min-width: 60px;
  max-width: 240px;
  margin-right: 0;
}

#current_time,
#current_volume {
  height: 100%;
  background-color: var(--lighter);
  border-radius: 5px;
  width: 10%;
}

#current_volume {
  width: 30%;
}

/* #endregion Footer */

/* #region Responsive */

@media screen and (min-width: 480px) {

  .col_1_sm {
    width: calc(100% / 12);
  }
  
  .col_2_sm {
    width: calc(100% / 12 * 2);
  }
  
  .col_3_sm {
    width: 25%;
  }
  
  .col_4_sm {
    width: calc(100% / 12 * 4);
  }
  
  .col_5_sm {
    width: calc(100% / 12 * 5);
  }
  
  .col_6_sm {
    width: 50%;
  }
  
  .col_7_sm {
    width: calc(100% / 12 * 7);
  }
  
  .col_8_sm {
    width: calc(100% / 12 * 8);
  }
  
  .col_9_sm {
    width: 75%;
  }
  
  .col_10_sm {
    width: calc(100% / 12 * 10);
  }
  
  .col_11_sm {
    width: calc(100% / 12 * 11);
  }
  
  .col_12_sm {
    width: 100%;
  }

  aside {
    flex-basis: 230px;
  }

  .logo_wrapper {
    display: flex;
    align-items: center;
    width: 70%;
    height: 80px;
  }

  .only_logo {
    display: none;
  }

  .complete_logo {
    display: inline-block;
  }

  #sections svg,
  #aside_bottom svg {
    width: 20px;
    margin-right: 10px;
  }

  .aside_section_name,
  #aside_bottom span,
  #aside_bottom hr {
    display: block;
  }

  #playlists {
    display: block;
  }

  #playlists h3 {
    margin-top: 30px;
    color: var(--lighter);
  }

  #new_playlist {
    margin-top: 15px;
    margin-bottom: 25px;
  }

  #new_playlist span:first-child {
    width: 30px;
    aspect-ratio: 1 / 1;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
    font-size: 2.5rem;
    background-color: var(--light);
    color: var(--darker);
  }

  #playlists_list {
    height: calc(100vh - 90px - 10px - 80px - 95px - 23px - 60px - 40px - 70px);
    /* TO ENSURE 100VH KEEPS IN MIND UI TOOLBARS. IF NOT SUPPORTED IT IS SIMPLY IGNORED */
    height: calc(100svh - 90px - 10px - 80px - 95px - 23px - 60px - 40px - 70px);
    overflow-y: auto;
  }

  #playlists_list > li:nth-child(even) {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  #playlists_list > li:last-child {
    margin-bottom: 25px
  }

  #aside_bottom hr {
    margin-top: 10px;
    border-width: 1px;
    border: none;
    border-bottom: 1px solid var(--light);
  }

  #user_name {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--lighter);
  }

  #current_song_cover {
    width: 40px;
  }

  #app_main {
    width: calc(100% - 230px);
  }

}

@media screen and (min-width: 768px) {

  .col_1_md {
    width: calc(100% / 12);
  }
  
  .col_2_md {
    width: calc(100% / 12 * 2);
  }
  
  .col_3_md {
    width: 25%;
  }
  
  .col_4_md {
    width: calc(100% / 12 * 4);
  }
  
  .col_5_md {
    width: calc(100% / 12 * 5);
  }
  
  .col_6_md {
    width: 50%;
  }
  
  .col_7_md {
    width: calc(100% / 12 * 7);
  }
  
  .col_8_md {
    width: calc(100% / 12 * 8);
  }
  
  .col_9_md {
    width: 75%;
  }
  
  .col_10_md {
    width: calc(100% / 12 * 10);
  }
  
  .col_11_md {
    width: calc(100% / 12 * 11);
  }
  
  .col_12_md {
    width: 100%;
  }
  
}

@media screen and (min-width: 1200px) {

  .col_1_lg {
    width: calc(100% / 12);
  }
  
  .col_2_lg {
    width: calc(100% / 12 * 2);
  }
  
  .col_3_lg {
    width: 25%;
  }
  
  .col_4_lg {
    width: calc(100% / 12 * 4);
  }
  
  .col_5_lg {
    width: calc(100% / 12 * 5);
  }
  
  .col_6_lg {
    width: 50%;
  }
  
  .col_7_lg {
    width: calc(100% / 12 * 7);
  }
  
  .col_8_lg {
    width: calc(100% / 12 * 8);
  }
  
  .col_9_lg {
    width: 75%;
  }
  
  .col_10_lg {
    width: calc(100% / 12 * 10);
  }
  
  .col_11_lg {
    width: calc(100% / 12 * 11);
  }
  
  .col_12_lg {
    width: 100%;
  }
  
}

/* #endregion Responsive */

/* #region Effects */

#sections li {
  transition: box-shadow 0.4s;
}

#sections li a,
#playlists a,
#aside_bottom > a:first-child,
#content nav li a {
  transition: color 0.4s;
}

#sections li svg path,
#aside_bottom > a:first-child svg path {
  transition: fill 0.4s;
}

#new_playlist > span:first-child {
  transition: background-color 0.4s;
}

#sections li:first-of-type {
  box-shadow: inset 3px 0 0 0 var(--accent);
}

#sections li:hover a,
#playlists a:hover,
#aside_bottom > a:first-child:hover,
#content nav li a:hover {
  color: var(--lighter);
}

#sections li:hover svg path,
#aside_bottom > a:first-child:hover svg path {
  fill: var(--lighter);
}

#new_playlist:hover > span:first-child {
  background-color: var(--lighter);
}

#main_top .btn {
  transform: scale(1);
  transform-origin: 100% 50%;
  transition: color 0.4s, border-color 0.4s, transform 0.4s;
}

#main_top .btn:hover {
  color: var(--lighter);
  border-color: var(--lighter);
  transform: scale(1.1);
}

#content > nav li:first-of-type::after {
  display: block;
  opacity: 100%;
}

#app_footer i {
  cursor: pointer;
}

#footer_left i {
  transition: color 0.4s;
}

#footer_left i:hover {
  color: var(--lighter);
}

#current_song_artist:hover {
  color: var(--lighter);
  text-decoration: underline;
}

#total_time:hover,
#total_volume:hover {
  cursor: pointer;
}

#total_time:hover > #current_time,
#total_volume:hover > #current_volume {
  position: relative;
  background-color: var(--accent);
}

#total_time:hover > #current_time::after,
#total_volume:hover > #current_volume::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  display: inline-block;
  height: 10px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--lighter);
}

#playing_commands .fa-circle-play {
  transition: transform 0.4s;
}

#playing_commands .fa-circle-play:hover {
  transform: scale(1.2);
}

/* #endregion Effects */

/* #region Scrollbar */

aside::-webkit-scrollbar,
#playlists_list::-webkit-scrollbar,
#content::-webkit-scrollbar {
  width: 8px;
}

#recent .flex::-webkit-scrollbar,
#created_for_you .flex::-webkit-scrollbar,
#popular_artists .flex::-webkit-scrollbar {
  height: 8px;
}

aside::-webkit-scrollbar-thumb,
#playlists_list::-webkit-scrollbar-thumb,
#content::-webkit-scrollbar-thumb,
#recent .flex::-webkit-scrollbar-thumb,
#created_for_you .flex::-webkit-scrollbar-thumb,
#popular_artists .flex::-webkit-scrollbar-thumb {
  background-color: var(--light-dark);
  border-radius: 8px;
}

aside::-webkit-scrollbar-track,
#playlists_list::-webkit-scrollbar-track,
#content::-webkit-scrollbar-track,
#recent .flex::-webkit-scrollbar-track,
#created_for_you .flex::-webkit-scrollbar-track,
#popular_artists .flex::-webkit-scrollbar-track {
  background-color: var(--dark);
  border-radius: 8px;
}

aside::-webkit-scrollbar-thumb:hover,
#playlists_list::-webkit-scrollbar-thumb:hover {
  background-color: var(--light);
  border-radius: 8px;
}

#content::-webkit-scrollbar-thumb:hover,
#recent .flex::-webkit-scrollbar-thumb:hover,
#created_for_you .flex::-webkit-scrollbar-thumb:hover,
#popular_artists .flex::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent);
  border-radius: 8px;
}

/* #endregion Scrollbar */
